flows.json
[{"id":"d61ee7f2.604598","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"27cb30a1.cc6b8","type":"hue-bridge","z":"","name":"Philips hue","bridge":"192.168.1.152","key":"a3jG1-n9lpOKnh5SEURS1sSRDlJh31G4e1cYAxrO","interval":"3000"},{"id":"70932831.c59f78","type":"alexa-home-conf","z":"","username":"gabadoo"},{"id":"af244f7b.8bdbd","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"f8d0e3cc.1c39c","type":"inject","z":"d61ee7f2.604598","name":"","topic":"","payload":"https://hutdb.net/19/players","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":20,"wires":[["58d01f7a.5d014"]]},{"id":"7218efd7.307ec","type":"function","z":"d61ee7f2.604598","name":"newPlayers Array","func":"let cheerio = global.get('cheerio');\nlet $ = cheerio.load(msg.payload);\nlet newResults = [];\n$('#results > tbody > tr').each((rowNum, row)=>{\n    // console.log(newResults)\n    let id = row.children[0].children[0].data     \n    let card = row.children[1].children[0].data\n    let player = { id, card };\n    newResults.push(player);\n\n});\nlet results = RED.util.cloneMessage(newResults)\nreturn results;","outputs":1,"noerr":0,"x":550,"y":100,"wires":[["4cec6bd1.198c74"]]},{"id":"33f38b2.7e9ad74","type":"inject","z":"d61ee7f2.604598","name":"Light ON","topic":"","payload":" {\"on\": true, \"brightness\": 100}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":320,"wires":[["bf1e9c24.e697b"]]},{"id":"58d01f7a.5d014","type":"nbrowser","z":"d61ee7f2.604598","name":"","methods":[{"name":"gotoURL","func":"goto","params":[{"type":"msg","value":"payload","typeDefault":"str"}]}],"prop":"nbrowser","propout":"payload","object":"msg","objectout":"msg","close":false,"show":false,"ssl":false,"outputs":1,"x":360,"y":40,"wires":[["7218efd7.307ec"]]},{"id":"bf1e9c24.e697b","type":"hue-light","z":"d61ee7f2.604598","name":"Closet light","bridge":"27cb30a1.cc6b8","lightid":"1","colornamer":true,"x":270,"y":340,"wires":[[]],"inputLabels":["msg.payload"]},{"id":"5ce3defd.2f35f","type":"inject","z":"d61ee7f2.604598","name":"Light OFF","topic":"","payload":"{ \"on\": false, \"brightness\": 0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":360,"wires":[["bf1e9c24.e697b"]]},{"id":"4a035c9.1d75ca4","type":"hue-switch","z":"d61ee7f2.604598","name":"Bedroom switch","bridge":"27cb30a1.cc6b8","sensorid":"5","x":100,"y":420,"wires":[["9c36d0aa.88f18","a29e896d.a5b1f8"]]},{"id":"9c36d0aa.88f18","type":"switch","z":"d61ee7f2.604598","name":"","property":"payload.button","propertyType":"msg","rules":[{"t":"eq","v":"1001","vt":"num"},{"t":"eq","v":"4001","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":420,"wires":[["5ae86a4f.7bfdb4"],["1b8d4dc4.f3dfa2"]]},{"id":"1b8d4dc4.f3dfa2","type":"http request","z":"d61ee7f2.604598","name":"TV OFF","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.153:18880/all_off","tls":"","proxy":"","x":480,"y":440,"wires":[["5bd93d54.ba3e54"]]},{"id":"5bd93d54.ba3e54","type":"function","z":"d61ee7f2.604598","name":"Hue Fetch Call","func":"return msg;","outputs":1,"noerr":0,"x":660,"y":460,"wires":[["7aea717b.9f31e"]]},{"id":"4169c0c1.ea569","type":"hue-tap","z":"d61ee7f2.604598","name":"Living Room switch","bridge":"27cb30a1.cc6b8","sensorid":"44","x":90,"y":540,"wires":[["a29e896d.a5b1f8","c60a784d.e5f678","77fc9286.fcc10c"]]},{"id":"a29e896d.a5b1f8","type":"function","z":"d61ee7f2.604598","name":"print Button info","func":"console.log(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":480,"wires":[[]]},{"id":"7979ea53.b19764","type":"function","z":"d61ee7f2.604598","name":"Hue Fetch Call","func":"\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":380,"wires":[["b7f27c91.d4b22"]]},{"id":"5ae86a4f.7bfdb4","type":"http request","z":"d61ee7f2.604598","name":"TV On","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.153:18880/all_on","tls":"","proxy":"","x":490,"y":380,"wires":[["7979ea53.b19764"]]},{"id":"283d8f5d.7f09b","type":"inject","z":"d61ee7f2.604598","name":"Light OFF","topic":"","payload":"{ \"on\": false, \"brightness\": 0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":200,"wires":[["6eb3d8cc.4436d8"]]},{"id":"ad3ad660.01d068","type":"inject","z":"d61ee7f2.604598","name":"Light ON","topic":"","payload":"{ \"on\": true, \"brightness\": 100}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":160,"wires":[["6eb3d8cc.4436d8"]]},{"id":"6eb3d8cc.4436d8","type":"hue-group","z":"d61ee7f2.604598","name":"Kitchen","bridge":"27cb30a1.cc6b8","groupid":"4","colornamer":true,"x":260,"y":180,"wires":[[]]},{"id":"441d0eb1.79942","type":"hue-group","z":"d61ee7f2.604598","name":"Bedroom","bridge":"27cb30a1.cc6b8","groupid":"4","colornamer":true,"x":260,"y":260,"wires":[[]]},{"id":"fa8ffc2f.96063","type":"inject","z":"d61ee7f2.604598","name":"Light ON","topic":"","payload":"{ \"on\": true, \"brightness\": 100}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":240,"wires":[["441d0eb1.79942"]]},{"id":"6f8d5670.2daf08","type":"inject","z":"d61ee7f2.604598","name":"Light OFF","topic":"","payload":"{ \"on\": false, \"brightness\": 0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":280,"wires":[["441d0eb1.79942"]]},{"id":"fe51b005.9c55e","type":"inject","z":"d61ee7f2.604598","name":"Light OFF","topic":"","payload":"{ \"on\": false, \"brightness\": 0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":120,"wires":[["84adbfd7.54333"]]},{"id":"92e76613.3a65a8","type":"inject","z":"d61ee7f2.604598","name":"Light ON","topic":"","payload":"{ \"on\": true, \"brightness\": 100}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":80,"wires":[["84adbfd7.54333"]]},{"id":"84adbfd7.54333","type":"hue-group","z":"d61ee7f2.604598","name":"Living Room","bridge":"27cb30a1.cc6b8","groupid":"2","colornamer":true,"x":270,"y":100,"wires":[[]]},{"id":"c60a784d.e5f678","type":"switch","z":"d61ee7f2.604598","name":"","property":"payload.button","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"}],"checkall":"true","repair":false,"outputs":4,"x":210,"y":620,"wires":[["116cff.ed15d301"],["36f34d8c.6e14b2"],["491a7cc3.70caf4"],["3560706.5eb6e9"]]},{"id":"3560706.5eb6e9","type":"http request","z":"d61ee7f2.604598","name":"Sonos 10","method":"GET","ret":"txt","url":"http://127.0.0.1:18880/volume/10","tls":"","x":380,"y":680,"wires":[[]]},{"id":"491a7cc3.70caf4","type":"http request","z":"d61ee7f2.604598","name":"Sonos 15","method":"GET","ret":"txt","url":"http://127.0.0.1:18880/volume/15","tls":"","x":380,"y":640,"wires":[[]]},{"id":"36f34d8c.6e14b2","type":"http request","z":"d61ee7f2.604598","name":"Sonos 20","method":"GET","ret":"txt","url":"http://127.0.0.1:18880/volume/20","tls":"","x":380,"y":600,"wires":[[]]},{"id":"116cff.ed15d301","type":"http request","z":"d61ee7f2.604598","name":"Sonos 0","method":"GET","ret":"txt","url":"http://127.0.0.1:18880/volume/0","tls":"","x":380,"y":560,"wires":[[]]},{"id":"77fc9286.fcc10c","type":"function","z":"d61ee7f2.604598","name":"Save Last Sate of button ","func":"var lastButton = context.global.get('lastButton')|| '';\nvar currentButton = msg.payload.button\n\nif(lastButton === currentButton){\n    console.log('should cycle');\n    let smartcast = global.get('smartcast')\n    let tv = new smartcast(\"192.168.1.152\", \"Zvsylja7if\");\n    tv.control.keyCommand(7, 1, \"KEYDOWN\");\n    tv.control.keyCommand(7, 1, \"KEYDOWN\");\n\n} \n\n// store the value back\ncontext.global.set('lastButton', currentButton);","outputs":1,"noerr":0,"x":550,"y":520,"wires":[[]]},{"id":"7aea717b.9f31e","type":"function","z":"d61ee7f2.604598","name":"Turn off display","func":"// var turnOffDisplay = global.get('turnOffDisplay')\n// try {\n// \tturnOffDisplay();\n// }\n// catch (err) {\n// \t// handle error\n// }","outputs":1,"noerr":0,"x":860,"y":440,"wires":[["b7f27c91.d4b22"]]},{"id":"b7f27c91.d4b22","type":"function","z":"d61ee7f2.604598","name":"Reset lastButton","func":"context.global.set('lastButton', '');\n\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":360,"wires":[[]]},{"id":"4cec6bd1.198c74","type":"function","z":"d61ee7f2.604598","name":"console.log","func":"console.log(msg)\n\n","outputs":1,"noerr":0,"x":790,"y":260,"wires":[[]]},{"id":"7535d46c.f8b28c","type":"change","z":"d61ee7f2.604598","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":240,"wires":[[]]},{"id":"e7810cd.611b4f","type":"hue-bridge-node","z":"d61ee7f2.604598","name":"Bridge","bridge":"27cb30a1.cc6b8","autoupdates":true,"x":450,"y":320,"wires":[[]]}]